.top_head_soc{
    padding-top: 10px;
}
.sticky-wrapper .logo img {
   max-height:120px;
   height: 120px; 
   width: auto;
}
.sticky-wrapper.is-sticky .logo img {
    height: 60px;
    width: auto;
}
body.has_trans_header.home .header .logo h1 a {
        -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
#topmenu {
    position: absolute;
    float: left;
    width: 100%;
    margin-top: 20px;
    top: 0px !important;
}
#optimizer_front_blocks-11 .blockimage {
    cursor:pointer;
}
#optimizer_front_blocks-11 .midrow_block {
    min-height: 0 !important;
    padding: 0;
}
#optimizer_front_blocks-11 .mid_block_content {
    position: relative;
    margin-top: 100%;
}
#optimizer_front_blocks-11 .block_content {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin-top: -59%;
    position: absolute;
}
#optimizer_front_blocks-11 .block_content h3 {
    font-size: 1.8em;
    line-height: 0;
}
#dropdown-menu {
    font-size: 20px;
    padding-top: 25px;
    position: relative;
    background: transparent;
}
@media screen and (min-width: 960px) {
#topmenu {
    display: block !important;
}
}
.wpcf7-submit {
    float: none;
    background-color: #555555 !important;
}
.wpcf7-not-valid-tip {
    padding-top: 5px;
    color: #FF4000 !important;
}
@media screen and (min-width: 960px) {
#topmenu ul li a {
    padding-left:20px;
    padding-right: 20px;
}
}
@media screen and (max-width: 960px) {
.home #dropdown-menu {
    color: #333333 !important;
}
.is-sticky #dropdown-menu {
    color: #fff !important;
}
#topmenu {
    top: 85px !important;
    display: none;
}

#topmenu ul li.menu_hover>a, body.has_trans_header.home #topmenu ul li.menu_hover>a, #topmenu ul li.current-menu-item>a[href*=\"#\"]:hover {
    color: #dd9933 !important;
}

#topmenu.mobile_dropdown ul.menu>li:after {
    display: block;
    padding-left: 30px;
}
.midrow_blocks .midrow_block:first-child:nth-last-child(4), .midrow_block:first-child:nth-last-child(4) ~ .midrow_block {
    width: 50%;
}
}
@media screen and (max-width: 480px) {
.home #dropdown-menu {
    color: #ffffff !important;
}}