// Glyphicons font path
$icon-font-path: '../fonts/';

// Grid settings
$main-sm-columns: 12;
$sidebar-sm-columns: 4;
$main-sm-2-columns: 6;
$sidebar-sm-2-columns: 3;

$col-1: 12;
$col-2: 6;
$col-3: 4;
$col-4: 3;
$col-6: 2;
$col-12: 1;


// Colors
$brand-primary: #27ae60;
