footer.site-footer {
    margin-top: 70px;
    margin-bottom: 70px;
}

.site-footer-widget-area {
    @include center-block();
}

.site-footer-widget-area.one-widget {
    @include make-sm-column($col-1);
}

.site-footer-widget-area.two-widget {
    @include make-sm-column($col-2);
}

.site-footer-widget-area.three-widget {
    @include make-sm-column($col-3);
}

.site-footer-widget {
    text-align: center;
    section {
        display: inline-block;
    }
    ul {
        padding-left: 0;
        text-align: left;
    }
}

.footer-menu ul ul {
    z-index: 9999999;
    top: -100%;
}

.footer-menu ul ul ul {
    margin-left: 100%;
}

.footer-menu ul ul li.has-sub > a::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.footer-menu {
    float: left;
}

.site-info {
    text-align: center;
    & p {
        margin: 0;
    }
}